<launch>
    <param name="config_path" value="$(find xenobot)/config/" />

    <param name="machine_name" value="$(arg veh)" />

    <param name="calibrate" value="false" />

    <arg name="local" default="false"/>


    <group if="$(arg local)">
        <node name="$(anon act_ctrl)" pkg="xenobot" type="activate_controller" output="screen"/>
    </group>

    <group unless="$(arg local)">
        <machine name="remote" address="$(arg veh).local" user="ubuntu" />
        <node machine="remote" name="$(anon act_ctrl)" pkg="xenobot" type="activate_controller"
                output="screen"/>
    </group>
</launch>
