<launch>
    <node name="$(anon obj_track)" pkg="duck_detector" type="object_tracking" output="screen"/>
    <param name="setting" value="$(find duck_detector)/config/setting.yaml" />

    <param name="machine_name" value="$(arg veh)" />

    <arg name="open_panel" default="false"/>

    <group if="$(arg open_panel)">
        <node name="$(anon ctrl_panel)" pkg="duck_detector" type="control_panel"/>
    </group>
</launch>
